<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sorry but laugh now</title>
    <link rel="stylesheet" href="style/data.css">
</head>
<body>
    <div class="card">
        <div class="card-content">
            <h2>Joke</h2>
            
            <div  class="a">
                <h1><%= jokeqn %></h1>
                <%= jokeans %>
            </div>
        </div>
    </div>
    <div>
       
</div>
</body>
</html>