<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>joke</title>
    <link rel="stylesheet" type="text/css" href="style/main.css">
</head>
<body>
    <form action="/submit" method="post">
    <div class="a">
        <div class="b">
    <h1 >welcome</h1>
    <div>
        <div>
    <label for="text"><strong>ENTER YOUR NAME HERE to get a joke  :</strong></label>
    <input type="text" name="text" placeholder="enter your text here">
    <input type="submit" class="custom-button">
        </div>
    </div>
</form>


</body>
</html>